<div class="row">
    <div class="col-md-12">
        <div class="py-5 text-center">
            <h1>Fakturahantering</h1>
            <p class="lead">Hantering av kunder, produkter och fakturor.
            </p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Fakturor</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-4">
                        <li>Skapa nya</li>
                        <li>Skriv ut</li>
                        <li>Radera</li>
                    </ul>
                    <a href="#!/invoices" class="btn btn-lg btn-block btn-outline-primary">Hantera fakturor</a>
                    <a href="#!/new/invoice" class="btn btn-lg btn-block btn-outline-primary">Ny fakturor</a>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Produkter</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-4">
                        <li>Skapa nya</li>
                        <li>Skriv ut</li>
                        <li>Radera</li>
                    </ul>
                    <a href="#!/products" class="btn btn-lg btn-block btn-outline-primary">Hantera produkter</a>
                    <a href="#!/new/product" class="btn btn-lg btn-block btn-outline-primary">Ny produkt</a>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Kunder</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-4">
                        <li>Skapa nya</li>
                        <li>Skriv ut</li>
                        <li>Radera</li>
                    </ul>
                    <a href="#!/customers" class="btn btn-lg btn-block btn-outline-primary">Hantera kunder</a>
                    <a href="#!/new/customer" class="btn btn-lg btn-block btn-outline-primary">Ny kund</a>
                </div>
            </div>
        </div>
    </div>

</div>

